/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER HORIZONTAL NAV */
.topbar {
  position: fixed;
  width: 100%;
}
ul {
  overflow: hidden;
  list-style-type: none;
  text-align: center;
}
.topbar a {
  text-decoration: none;
  color: white;
  display: block;
}
.topbar ul li {
  width: 25%;
  padding: 0.5rem 0;
  float: left;
  background-color: rgb(64, 64, 64);
  border-right: 1px white solid;
  text-transform: capitalize;
}
.topbar ul li:hover {
  cursor: pointer;
  background-color: red;
}
#special {
  border-right: none;
}

/* FOOTER VERTICAL NAV */

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottombar ul li {
  margin: 0 auto;
}
.bottombar ul li {
  width: 25%;
  height: 1.5rem;
  background-color: rgb(64, 64, 64);
  color: white;
  border-right: 1px white solid;
  text-transform: capitalize;
  border-bottom: 1px white solid;
}
.bottombar ul li:hover {
  cursor: pointer;
  background-color: red;
}
#special-2 {
  border-bottom: none;
}

/* Padajuci podmeni  */

.submenu {
  display: none;
}
.submenu a {
  padding: 0.5rem 0;
}
.submenu a:hover {
  background-color: rgb(64, 64, 64);
}
.topbar ul li:nth-child(4):hover .submenu {
  display: block;
}
