a {
  background-color: aqua;
  /* border-style: dashed;
  border-color: red;
  border-top-width: 5px;
  border-radius: 40%;
   /* 
   /*
  padding-top: 9px;
  padding-left: 10px; */
  padding: 10px 20px 10px 15px;
  margin: 0 10px;
  border: 5px dashed black;
}
