body {
  margin: 0;
  font-size: 22px;
}
h1 {
  margin-left: 10px;
  color: dodgerblue;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  width: 270px;
  border: 1px dotted blue;
}
li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
.cross-li {
  text-decoration: line-through;
}
#btn {
  margin: 10px;
  padding: 10px;
  width: 295px;
  border: 1px dotted blue;
  cursor: pointer;
}
input {
  margin: 10px;
  padding: 10px;
  width: 270px;
}
#pocetak,
#kraj {
  margin: 0;
  padding: 0;
  width: 40px;
}
